<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/stylesheets/about1.css">
  
</head>
<body>
  <div class="about-section" id="about">
    <div class="about-image">
      <img src="https://www.forbes.com/advisor/wp-content/uploads/2023/01/image-1-3.png" alt="About Us Image">
    </div>
    <div class="about-content">
      <h1>About Us</h1>
      <p class="text">
        Welcome to our Lounge Booking Website, where you can book a lounge when your train gets delayed. We understand the inconvenience of long delays, and our priority is to make your waiting time comfortable and enjoyable.
      </p>
      <div class="skills">
        <span>Lounge Book</span>  
        <span>Our services</span>
        <span>Contact</span>
        <span>Food Order</span>
      </div>
    </div>
  </div>
</body>
</html>
