<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="\stylesheets\about.css">
</head>
<body>
  <div class="about-section1" id="about1">
    <h1>About Us</h1> 
    <div class="inner-container1">
      <p class="text1">
        Welcome to our Lounge Booking Website, where you can book a lounge when your train gets delayed. We understand the inconvenience of long delays, and our priority is to make your waiting time comfortable and enjoyable. <br>
        
      </p>
      <div class="skills1">
       <span>Lounge Book</span>
        <span>Our services</span>

        <span>Contact</span>
        <span>Food Order</span>
      </div>
    </div>
  </div>
</body>
</html>