
/* Add your custom styles here */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

footer {
    /* background-color: #f5f5f5; */
    background-color: #d8d5d5;
    background-color: rgb(28,35,49);
    color: #ffffff;
    padding: 20px;
    z-index: 99999;
}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;

}

.footer-container p {
    margin: 0;
    padding:  0.8vw  1vw;
    font-size:1.3vw;
    /* background-color: antiquewhite; */
    width: 70%;
    text-align: center;
}

.footer-link-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
    /* background-color: aqua; */
    justify-content: center;

    padding: 1vw;
    overflow-x: hidden;
}

.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0 3vw;
    
    margin-right: 70px;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #333;
    color: #ffffff;
}

.footer-icon {
    margin-top: 20px;
    padding: 1vw;
}

.footer-icon i {
    margin-right: 30px;
    font-size: 20px;
    /* background-color: rgb(14, 109, 109); */
    background-color: #d90403;
    border-radius: 50%;
    padding: 5px;
}
.footer-icon i:hover{
    background-color: #ffffff;
    color: #333;
}

hr {
    margin-top: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

@media only screen and (max-width: 622px) {
    /* Styles for smaller screens */
    .footer-links {
        margin-bottom: 20px;
        flex: initial;
    }

    .footer-link-div {
        flex-direction: column;
    }
    .footer-icon i {
        margin-right: 15px;
        font-size: 14px;
       
    }
    .footer-container p{
        font-size: 4vw;
        padding: 2.5vw 0;
        /* background-color: aqua; */

    }
}
