<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link href="//db.onlinewebfonts.com/c/9455cdcc213da1287d98f3c2cff4c4fa?family=Navbar" rel="stylesheet" type="text/css"/>  -->
    <link rel="stylesheet" href="\stylesheets\nav.css">
</head>
<body>
      <header class="header">
        <img src="\images\logo.jpg" alt="" class="logo">
        <nav class="navbar">
          <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#footer-container" >Contact</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/get-started" id="contect">Login/Sign up</a></li>
          </ul>
        </nav>
        <button class="menu-toggle">&#9776;</button>
      </header>
    <script src="\javascripts\nav.js"></script>
</body>
</html>